.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#test {
  fill: white;
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

.tile-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 100%;
  height: 2;
  fill: #a0a0a0;
}

.tile-list-item {
  height: 80;
}
